<div class="outer-nav w-100 py-3">
  <nav id="navigation">
    <div class="row">
      <div class="col d-flex align-items-center">
        <img src="/img/logo-co.png" height="60" alt=""><h3 class="d-inline-block mb-0">Carolineolivia.dk</h3>
      </div>
      <div class="col d-flex align-items-center justify-items-end justify-content-end"> 
        <a onclick="openNavi()"><i class="fas fa-hamburger"></i></a>
    
        <div class="navbar" id="navbarid">
          
       
              <a class="close" onclick="closeNav()"><i class="fas fa-times"></i></a>
          <a href="/">Hjem</a>
          <a href="/opskrifter/">Opskrifter</a>
          <a href="/code-pens/">Inspiration</a>
          <a href="/tags/">Om mig</a>
          
        </div></div>
    </div>
    
  
  
  
  </nav>
</div>
