// Navigation css


.navbar {
  background-color: #a86d6d;
  color: white;
  font-family: 'Permanent Marker';
  border-radius: 7px;

  a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  .navbar-toggler-icon, .navbar-toggler {
    color: white;
    z-index: 100;
  }
}

