<div class="title">
  <h1>caroline olivia</h1>
  <h2>web- & software developer</h2>
  <a href="https://github.com/carolineolivia" target="blank"><i class="fab fa-github"></i></a><a
    href="https://www.facebook.com/cadkcrush" target="blank"><i class="fab fa-facebook"></i></a><a
    href="https://www.instagram.com/carolineoliviaxx/" target="blank"><i class="fab fa-instagram"></i></a>
</div>

<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link" href="/">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/about/">About</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/affiliates/">Affiliates</a>
  </li>
</ul>