---
layout: default
---

<div id="home-container">
    <div class="row g-5">
        <!-- DEMO 3 Item-->
        <div class="col-sm-6 mb-3 mb-lg-0">
            <a href="/opskrifter/">
                <div class="hover--1 hover-3 text-white rounded"><img src="/img/pandasokker.jpeg" alt="">
                    <div class="hover-overlay"></div>
                    <div class="hover-3-content px-5 py-4">
                        <h5 class="hover-3-description text-uppercase mb-0">Opskrifter</h5>
                    </div>
                </div>
            </a>
        </div>
        <!-- DEMO 3 Item    -->
        <div class="col-sm-6">
            <a href="/inspiration/">
                <div class="hover--1 hover-3 text-white rounded"><img src="/img/strik-1.png" alt="">
                    <div class="hover-overlay"></div>
                    <div class="hover-3-content px-5 py-4">
                        <h5 class="hover-3-description text-uppercase mb-0">Inspiration</h5>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="text-center mt-5">
        <h4>Nyeste indlæg</h4>
        <hr>
    </div>

    <div class="row">
        {% for p in site.posts | sort: date %}
        <div class="col-4">
            <a href="{{ p.url }}">
                <div class="hover--1 hover-1 text-white rounded">
                    <img src="{{ p.image }}" alt="">
                    <div class="hover-overlay"></div>
                    <div class="hover-1-content px-3 py-3">
                        <h5 class="hover-1-title text-uppercase font-weight-bold mb-0">{{ p.title }}</h5>
                        <p class="hover-1-description font-weight-light mb-0">{{ p.description }}</p>
                    </div>

                </div>
            </a>
        </div>
        {% endfor %}
    </div>

</div>